.container{
    max-width:100%
}
.col1{
    background-color: rgb(231, 183, 190);
}
.col2{
    background-color:rgb(202, 242, 255);
}
.col3{
    background-color: lightgoldenrodyellow;
}
.col4{
    background-color: lightcoral;
}
.col5{
    background-color: lightgray;
}
.col6{
    background-color: skyblue;
}
/* .col-xl-12, .col-lg-4, .col-lg-12, .col-sm-6{
   margin:0;
} */
.jumbotron-fluid{
    background-color:orange;
}
